.page {
  min-height: 100%;
  background-color: #f1f1f1;
  flex: 1 1 auto;
}

.page__main-block {
  min-height: 880px;
  background-color: #f1f1f1;
}

._container {
  max-width: 1000px;
  margin: 0px auto;
}

.login__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 180px 0px;
  padding: 10px;
}

.login__input {
  margin: 10px 0px;
  padding: 15px 0px;
}

h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.login__button {
  border: 1px solid #34302d;
  border-radius: 30px;
  height: 50px;
  font-weight: bold;
  font-size: 21px;
}

.login__button:hover {
  background-color: #6db33f;
}
