.page__search {
  position: absolute;
  top: 15px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: white;
  transition: 0.45s;
}
.page__input {
  width: 950px;
  height: 60px;
}
.page__button {
  background-image: url(img/search_btn.png);
  width: 26px;
  height: 21px;
}

.hide {
  display: none;
}
