.reg__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.reg__input {
  margin: 10px 0px;
  padding: 15px 0px;
}

h2 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}

.login__link {
  font-weight: bold;
  margin: 5px 0px 0px 0px;
  font-size: 20px;
}

.reg__button {
  border: 1px solid #34302d;
  border-radius: 30px;
  height: 50px;
  font-weight: bold;
  font-size: 21px;
}

.reg__button:hover {
  background-color: #6db33f;
}
