.menu__item {
  display: flex;
  padding: 0px 14px 0px 14px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .menu__item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 20px 10px;
    border-bottom: 1px solid #403d3a;
    margin: 0px;
  }
  .menu__item:last-child {
    border-bottom: none;
  }
}

@media screen and (max-width: 600px) {
  .menu__item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding: 20px 10px;
    border-bottom: 1px solid #403d3a;
    margin: 0px;
  }

  .menu__item:last-child {
    border-bottom: none;
  }
}
