.page{
 flex: 1 1 auto;
    }

.main-block__tittle {
margin-top: 179px;
font-weight: bold;
font-size: 2.3em;
    }

 .main-block__text {
 margin: 40px 0px 60px;
 font-size: 16px;
 line-height: 24px;  
        }    