.input__drop{
    display: none;
}

.input__search{
  display: none;
}

.input__button{
    display: none;
}

.page__button__active{
    background-image:url(../img/cross.png) ;
    height: 29px;
    width: 29px;
    border: none; 
}

.menu__list {
    display: flex;
    align-items: center;
    
}

.menu__item {
    display: flex;
    padding: 0px 14px 0px 14px;
    height: 80px;
    align-items: center;
    justify-content: center;
    
}

.menu__item:hover {
    background-color:#6DB33F;
}


.menu__link {
    line-height: 130%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    
}

.menu__link__home{
    display: none;
}

.menu__link__search{
    border: none;
    display: flex;
    background-image: url(../img/lupa.png);
    height: 29px;
    width: 34px;

}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    .header__menu{
        position: fixed;    
        top: 20px;
        left: -100%;
        width: 37%;
        height: 100%;
        background-color: #34302D;
        transition: 0.45s;
    }

    .input__drop{
        display: block;
        position: static;
        background-color: transparent;
    }
    
    .input__button{
        display: none;
    }

    .input__search{
        display: block;
        background: #464340;
        width: 95%;
        height: 40px;
        margin: 0px 0px 0px 6px;
    }

    .menu__link__search{
        display: none;
    }

    .menu__list{
        display: flex;  
        flex-direction: column;
       

    }

    .menu__item{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        padding: 20px 10px;
        border-bottom: 1px solid #403D3A; 
        margin: 0px;     
    }

    .menu__link__home{
            display: block;
            font-size: 13px;
            font-weight: 300;
            line-height: 15px;
            color: #dddddd;   
    }

    .menu__link{
        font-size: 13px;
        font-weight: 300;
        line-height: 15px;
    }

    .menu__item:last-child{
        border-bottom: none;
    }
}

@media screen and (max-width: 600px) {
    .header__menu{
        position: fixed;    
        top: 20px;
        left: -100%;
        width: 37%;
        background-color: #34302D;
        transition: 0.1s;
    }

    .input__drop{
        display: block;
        position: static;
        background-color: transparent;
    }
    
    .input__button{
        display: none;
    }

    .input__search{
        background: #464340;
        width: 95%;
        height: 40px;
        margin: 0px 0px 0px 6px;
    }

    .menu__link__search{
        display: none;
    }

    .menu__list{
        display: flex;  
        flex-direction: column;
    }

    .menu__item{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        padding: 20px 10px;
        border-bottom: 1px solid #403D3A; 
        margin: 0px;     
    }

    .menu__link__home{
            display: block;
            font-size: 13px;
            font-weight: 300;
            line-height: 15px;
            color: #dddddd;
    }

    .menu__link{
        font-size: 13px;
        font-weight: 300;
        line-height: 15px;
    }

    .menu__item:last-child{
        border-bottom: none;
    }


}